body{
    background-image: url(../kepek/nyyitóoldalkep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 18px;
}
.szinezett{
    height: 100vh;
    padding-top: 650px;
}
